body{
font-family: 'Karla', sans-serif;
margin: 3% 10%;
padding: 3%;
line-height: 2rem;
font-size: 22px;
font-weight: 400;
}


h1{color:hsl(179, 62%, 43%) ;}
h2{color: hsl(71, 73%, 54%);}
p{color: hsl(218, 22%, 67%);}
li{color: hsl(204, 43%, 93%);}

.fBold{ font-weight: 700; margin: 3% 3% 5% 0; color: hsl(204, 43%, 93%);}

.box1{ margin-bottom: 5%;}
.box2{ background-color:hsl(179, 62%, 43%) ;    padding-top: 3%; padding-left: 5%; padding-bottom: 3%;}
.box3{background-color: hsl(179, 73%, 47%);    padding-top: 3%;padding-left: 5%;padding-bottom: 3%;}


ul{padding: 0;}
li {    list-style: none;}

.paraBox{line-height: 3rem; color: hsl(204, 43%, 93%);}

.btn-lg{ line-height: 2.5rem; width: 90%; margin-top: 12%;background-color: hsl(71, 73%, 54%);;}



/* Footer */
    .attribution { font-size: 11px; text-align: center; margin-top: 5%;}
    .attribution a { color: hsl(228, 45%, 44%); }
